.nav-container-outer {
  position: fixed;
  bottom: 0;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
}

/*nav-container-innter {}*/

/* from bootstrap */
.navbar-nav {
  height: 10%;
  width: 90vw;
  background: transparent;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-btn {
  height: 1.2rem;
  width: 5.5rem;
  font-size: 0.8rem;
  background: var(--dark-01);
  border-radius: 12px;
  border: 1px solid var(--rust-02);
  box-shadow: 1px 1px 2px var(--dark-01);
  color: var(--light-01);
  font-family: var(--font-family-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn:hover {
  color: var(--pip-04);
  transform: translateX(2%) translateY(5%);
  box-shadow: 1px 1px 2px var(--matrix-01);
  filter: drop-shadow(0 0 2rem var(--pip-03));
}