.nav-container-outer {
  margin: 0 auto;
  display: flex;
}

.nav-container-inner {
  height: 50px;
  width: 90vw;
  background:
    var(--rusty-grad),
    url("https://img.freepik.com/free-photo/rough-metallic-surface-texture_23-2148953969.jpg");
  background-blend-mode: multiply;

  display: flex;
  justify-content: center;
}

.nav-btn {
  height: 30px;
  background-color: black;
  border: 5px solid black;
  font-size: 1rem;
  color: #00ff2b;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.nav-btn:hover {
  background-color: #ffe81f;
  color: black;
}