.location-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .location-cards {
    height: 350px;
    max-width: 220px;
    border-radius: 2px;
    background: transparent;
    position: relative;
    
    border: 1px solid red;
  }
  
  .location-cards img {
    border: 1px solid var(--pip-03);
    max-width: 200px;
    max-height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .location-cards-font {
    width: 10rem;
    background-color: transparent;
    border-radius: 8px;
    color: var(--matrix-01);
    font-family: var(--font-family-4);
    padding: 5px 10px 0px 10px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px grey;
    text-align: start;
  }
  
  .card-font {
    font-size: 18px;
  }
  
  .location-cards-font:hover {
    background-color: #ffe81f;
    color: black;
  }