.star-wars-intro-container {
    position: relative;
    overflow: hidden;
  }
  
  .crawl-text {
    animation: crawlAnimation 45s ease-in-out infinite;
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #FFE81F;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 200%;
    font-weight: 1000;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: center;
  }
  
  @keyframes crawlAnimation {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .slide {
    animation-play-state: running;
  }
  