.app-monitor {
  position: fixed;
  background:
    var(--monitor-grad),
    url("https://img.freepik.com/free-photo/rough-metallic-surface-texture_23-2148953969.jpg");
  background-blend-mode: multiply;
}

.app-bezel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.global-panel {
  position: relative;
  top: -2rem;
  height: 85%;
  width: 85%;
  border-radius: 20px;
  border: 1px solid var(--pip-02);
  background: var(--dark-01);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  filter: drop-shadow(0 0 5px var(--rust-02));
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-02) transparent;
}

.global-panel:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: " ";
  border-radius: 20px;
  background: var(--panel-grad);
  background-size: 100% 10px;
  background-repeat: repeat;
  background-attachment: scroll;
  z-index: 2;
  pointer-events: none;
}

#title-banner {
  position: absolute;
  bottom: 7%;
  width: 100vw;
  text-shadow:
    1px 1px 0 var(--pip-01),
    -1px -1px 0 var(--dark-03);
  color: var(--pip-02);
  font-family: var(--font-family-2);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-code-header {
  background-color: transparent;
  opacity: 0.65;
  padding: 0;
  margin: 1rem;
  font-size: 1.2em;
  color: var(--pip-04);
  font-family: var(--font-family-2);
  text-align: start;
  position: relative;
}

/*
location details and random pages
*/
.place-container {
  margin: 0 auto;
  max-width: 85%;
  position: relative;
}

.custom-tabs {
  border-bottom: 1px solid var(--pip-04);
  font-family: var(--font-family-2);
  font-size: 1.5rem;
}

#uncontrolled-tab-example-tab-place.nav-link,
#uncontrolled-tab-example-tab-life.nav-link {
  color: var(--matrix-01);
  background: transparent;
  border: 0;
}

#uncontrolled-tab-example-tab-place.nav-link.active,
#uncontrolled-tab-example-tab-life.nav-link.active {
  color: var(--dark-01);
  background: var(--pip-04);
}

.tab-panel {
  margin: 0 1rem;
  padding: 0;
  text-align: start;
}

.tab-panel h1 {
  margin: 0.5rem 0;
}

.tab-panel p {
  line-height: 1.5rem;
}

.container-image,
.inhabitants-image {
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
  margin: 1rem 1rem 0 1rem;
}

/* AddLocationsPage, EditPage*/
.body-inner-scroll {
  overflow: auto;
}

.input-place-form {
  font-size: 15px;
  min-width: 70%;
  height: auto;
}

.input-label,
.input-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #36ba01;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  text-align: start;
  padding-top: 40px;
}

.input-textarea {
  resize: vertical;
}

input {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #36ba01;
}

textarea {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #36ba01;
}

/*
global: submit buttons
*/
.submit-btn {
  width: 8rem;
  margin: 1rem;
  padding: 2px 1rem;
  background-color: transparent;
  border-style: none;
  border-radius: 0;
  border-top: 1px solid var(--pip-04);
  font-family: var(--font-family-4);
  color: var(--pip-04);
  font-size: 1.2rem;
}

.submit-btn:hover {
  border-radius: 8px;
  background-color: var(--matrix-01);
  color: var(--dark-01);
}