.app-monitor {
  position: fixed;
  background:
    var(--monitor-grad),
    url("https://img.freepik.com/free-photo/rough-metallic-surface-texture_23-2148953969.jpg");
  background-blend-mode: multiply;
}

.app-bezel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-inner-scroll {
  margin: 0 auto;
  overflow: auto;
}

.global-panel {
  position: relative;
  top: -2rem;
  height: 85%;
  width: 85%;
  border-radius: 20px;
  border: 1px solid var(--pip-02);
  background: var(--dark-01);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  filter: drop-shadow(0 0 5px var(--rust-02));
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-02) transparent;
}

.global-panel:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: " ";
  border-radius: 20px;
  background: var(--panel-grad);
  background-size: 100% 10px;
  background-repeat: repeat;
  background-attachment: scroll;
  z-index: 2;
  pointer-events: none;
}

#title-banner {
  position: absolute;
  bottom: 7%;
  width: 100vw;
  text-shadow:
    1px 1px 0 var(--pip-01),
    -1px -1px 0 var(--dark-03);
  color: var(--pip-02);
  font-family: var(--font-family-2);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-code-header {
  background-color: transparent;
  opacity: 0.65;
  padding: 0;
  margin: 1rem;
  font-size: 1.2em;
  color: var(--pip-04);
  font-family: var(--font-family-2);
  text-align: start;
  position: relative;
}

/*
location details and random pages
*/
.place-container {
  margin: 0 auto;
  width: 60%;
  position: relative;
}

.custom-tabs {
  border-bottom: 1px solid var(--pip-04);
  font-family: var(--font-family-2);
  font-size: 1.5rem;
}

#uncontrolled-tab-example-tab-place.nav-link,
#uncontrolled-tab-example-tab-life.nav-link {
  color: var(--matrix-01);
  background: transparent;
  border: 0;
}

#uncontrolled-tab-example-tab-place.nav-link.active,
#uncontrolled-tab-example-tab-life.nav-link.active {
  color: var(--dark-01);
  background: var(--pip-04);
}

.tab-panel {
  margin: 0 1rem;
  padding: 0;
  text-align: start;
}

.tab-panel-name {
  margin: 2rem 0;
  font-size: 1.5rem;
}

.tab-panel-location {
  margin-bottom: 1rem;
}

.tab-panel-description {
  line-height: 1.5rem;
}

.container-image,
.inhabitants-image {
  max-width: 500px;
  max-height: 350px;
  object-fit: contain;
  margin: 1rem 1rem 0 1rem;
}

/*
add and edit location pages
*/
.input-place-form {
  width: 75vw;
}

.input-label,
.input-textarea {
  padding: 1.5rem 0 5px 2rem;
  background: transparent;
  color: var(--pip-04);
  font-family: var(--font-family-2);
  font-size: 1.2rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.input-textarea {
  resize: vertical;
}

input,
textarea {
  margin: 0 2rem;
  padding: 5px 0 0 0;
  width: 50ch;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid var(--pip-03);
  color: var(--matrix-01);
  line-height: 1.5rem;
}

@media screen and (max-width: 729px) {
  input,
  textarea {
    width: 35ch;
  }
}

@media screen and (max-width: 549px) {
  input,
  textarea {
    width: 28ch;
  }
}

@media screen and (max-width: 444px) {
  input,
  textarea {
    width: 22ch;
  }
}


input::placeholder,
textarea::placeholder {
  font-size: 1.2rem;
  font-family: var(--font-family-2);
  color: var(--pip-03);
}

.form-submit-btn {
  width: 8rem;
  margin: 2rem;
  padding: 2px 1rem;
  display: flex;
  justify-content: center;
}

/*
global: submit buttons
*/
.submit-btn,
.form-submit-btn {
  width: 8rem;
  background-color: transparent;
  border-style: none;
  border-radius: 0;
  border-top: 1px solid var(--pip-04);
  font-family: var(--font-family-4);
  color: var(--pip-04);
  font-size: 1.2rem;
}

.submit-btn {
  margin: 1rem;
  padding: 2px 1rem;
}

.submit-btn:hover,
.form-submit-btn:hover {
  border-radius: 8px;
  background-color: var(--matrix-01);
  color: var(--dark-01);
}