html, body {
  height: 100%;
  background-image: url('./images/spacebackground.jpg');
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-size: cover;
}

#root {
  /* max-width: 1280px; */
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: ivory;
}

.app {
  min-height: 100vh;
}

/*
Header, Footer
*/
.header-footer-bg {
  /* background-image: url('./images/spacebackground.jpg'); */
  height: 50px;
  width: 100%;
}

.footer-tag {
  font-size: 11px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
  position: absolute;
}

/*
NavBar
*/
.nav-container {
  background-color: #ffe81f;
  max-width: 100%;
  height: 40px;
  opacity: 0.65;
  display: flex;
}

.nav-btn {
  height: 30px;
  background-color: black;
  border: 5px solid black;
  font-size: 15px;
  color: #00ff2b;
  border-radius: 25px;
  font-family:'Courier New', Courier, monospace;
}

.nav-btn:hover {
  background-color: #ffe81f;
  color: black;
}

.component-header {
  background-color: transparent;
  opacity: 0.65;
  height: 40px;
  color: #00ff2b;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: start;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 2px;
  position: relative;
}

/*
HomePage
*/

/*
AllLocationsPage
*/
.location-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.location-cards {
  border-radius: 5px;
  margin: 10px;
  background-color: transparent;
  position: relative;
  height: 300px;
  box-shadow: 1px 1px #ffe81f;
}

.location-cards img {
  border: 1px solid ivory;
  max-width: 210px;
  max-height: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location-cards-font {
  width: 200px;
  background-color: transparent;
  border-radius: 8px;
  color: #00ff2b;
  font-family:'Courier New', Courier, monospace;
  padding: 5px 10px 0px 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px grey;
  text-align: start;
}

.card-font {
  font-size: 18px;
}

.location-cards-font:hover {
  background-color: #ffe81f;
  color: black;
}

/*
place containers
*/
.custom-tabs .nav-link {
  font-family: 'Courier New', Courier, monospace;
  color: #36ba01;
}

.place-container {
  margin: 2%;
  max-width: 50%;
  height: auto;
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.tab-content {
  margin: 5%;
  font-family:'Courier New', Courier, monospace;
}

.place-container h5 {
  font-weight: bold;
  text-align: start;
  padding-top: 5%;
  color: #36ba01;
}

.place-container p { 
  font-size: 15px;
  text-align: start;
  padding-top: 0%;
}

.container-image, .inhabitants-image {
  width: 50%;
  padding: 20px;
}

/* AddLocationsPage, EditPage*/
.body-div {
  overflow: hidden;
}

.input-place-form {
  font-size: 15px;
  min-width: 70%;
  height: auto;
}

.input-label, .input-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #36ba01;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  background-color: transparent;
  text-align: start;
  padding-top: 40px;
}

.input-textarea {
  resize: vertical;
}

input {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #36ba01;
}

textarea {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #36ba01;
}

/* submit buttons: LocationDetails, AddLocationsPage, EditPage */
.submit-btn {
  background-color: transparent;
  border: 1px solid #36ba01;
  color: #36ba01;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  width: 60%;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 60px;
  border-radius: 12px;
}

.submit-btn:hover {
  background-color: #ffe81f;
  color: black;
}