.hp-random-btn {
    top: 65%;
    left: 30%;
    position: absolute;
  }
  .hp-random-btn2 {
    top: 72%;
    left: 27%;
    position: absolute;
  }
  .hp-random-btn3 {
    top: 58%;
    left: 20%;
    position: absolute;
  }
  .hp-random-btnEarth {
    top: 65%;
    left: 80%;
    position: absolute;
  }
  
  .galaxy-map span {
    color: aliceblue;
  }
  
  .galaxy-btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    background-color:	#021631;
    border: 1px solid aliceblue;
    border-radius: 25px;
  }
  .galaxy-map {
    background-image: url(/src/images/milkyway.jpg);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure that content outside the viewport is hidden */
  }
  
  .zoom-in {
    animation: zoomIn 2s ease-in-out; /* Adjust the duration as needed */
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(4); /* Initial zoom level */
    }
    to {
      transform: scale(1); /* Final zoom level */
    }
  }