.homepage-panel {
  height: 100%;
  width: 100%;
  background-image: url("./src/images/triangulumgalaxy.jpg");
  background-size: cover;
  background-position: center;
}

.homepage-panel-btn-container {
  position: absolute;
  top: 70px;
  left: -6px;
}

.homepage-panel-btn-container button {
  margin: 1rem;
  font-family: var(--font-family-2);
  border: 0px;
  background: transparent;
  border-radius: 20px;
  display: flex;
}

.homepage-panel-btn-container a {
  font-size: 1.2rem;
  color: var(--pip-04);
}

.homepage-panel-btn-container button:hover {
  border: 1px solid var(--pip-04);
}

.database-hovered,
.random-hovered,
.log-hovered,
.earth-hovered {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid var(--matrix-01);
}

.homepage-database-icon {
  top: 45%;
  left: 48%;
  position: absolute;
}

.homepage-log-icon {
  top: 75%;
  left: 78%;
  position: absolute;
}

.homepage-random-icon-1 {
  top: 35%;
  left: 60%;
  position: absolute;
}

.homepage-random-icon-2 {
  top: 40%;
  left: 22%;
  position: absolute;
}

.homepage-random-icon-3 {
  top: 51%;
  left: 85%;
  position: absolute;
}

.homepage-random-icon-4 {
  top: 65%;
  left: 58%;
  position: absolute;
}

.homepage-random-icon-5 {
  top: 52%;
  left: 35%;
  position: absolute;
}

.homepage-earth-icon {
  top: 58%;
  left: 20%;
  position: absolute;
}